@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffff;
  /* background-color: rgba(242, 242, 242, 0.848); */
  &::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del riel */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(
      190,
      190,
      190,
      0.6
    ); /* Color de la barra de desplazamiento */
    border-radius: 2px; /* Bordes redondeados para el pulgar */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141); /* Color al pasar el mouse por encima */
    cursor: pointer;
  }
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del riel */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(
      190,
      190,
      190,
      0.6
    ); /* Color de la barra de desplazamiento */
    border-radius: 2px; /* Bordes redondeados para el pulgar */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #727272; /* Color al pasar el mouse por encima */
  }
  cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0; /* Opcional: para ocultar scrollbar horizontal */
}

/* Clase para ocultar scrollbar en Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}
